<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qcstudio.qcfamilyuser.mapper.UserMapper">

    <select id="selectUsersByRoleId" parameterType="int" resultType="com.qcstudio.qcfamilyuser.entity.User">
        select
            tu.*,tr.id as rid,tr.name,tr.remark,tr.type
        from
            tb_user tu
                left outer join
            tb_user_role tur
            on
                tu.id = tur.t_role_id
                left outer join
            tb_role tr
            on
                tur.t_user_id = tr.id;
    </select>
</mapper>